//var
$font__menu-box:'Montserrat',
sans-serif;
$font__menu-name:'Great Vibes',
cursive;
$font-color__menu-box: white;
$font-color__menu-name: gold;

//global

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin: 0 auto;

}

//nav
.nav {
  // position: relative;
  background-image: url("/images/header.png");
  background-position: center;
  background-repeat: no-repeat;
}


.nav__menu {
  position: relative;
  backdrop-filter: opacity(0.4);
  max-width: 1400px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  // justify-content: flex-end;
  position: a;
}

.nav__menu-name {
  position: absolute;
  width: 100px;
  left: 17%;
  font-size: 38px;
  text-decoration: none;
  margin-top: 30px;

  a {
    text-decoration: none;
    font-family: $font__menu-name;
    color: $font-color__menu-name;
  }
}

.nav__menu-box {
  margin-top: 53px;
  position: absolute;
  left: 45%;
}

.nav__box-li {
  list-style-type: none;
  display: inline-block;
  width: 105px;
  text-align: end;
}

.nav__box-a {
  text-decoration: none;
  font-size: 14px;
  font-family: $font__menu-box;
  // font-weight: bold;
  color: $font-color__menu-box;
}

.nav__box-ham {
  position: absolute;
  display: none;
  right: 20px;
  top: 30px;
}

.nav__menu-ham-box {
  display: none;
  position: absolute;
  margin-left: -50px;
  margin-top: 0px;
}

.nav__ham-box-li {
  list-style-type: none;
  display: block;
  width: 105px;
  line-height: 20px;
}

.nav__ham-box-a {
  text-decoration: none;
  font-size: 14px;
  font-family: $font__menu-box;
  color: $font-color__menu-box;
}

.nav__title {
  text-align: center;
  font-family: $font__menu-box;
  position: absolute;
  min-width: 900px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $font-color__menu-box;

  h4 {
    font-size: 42px;
    font-family: 'Bentham', serif;
    font-weight: lighter;
  }

  h1 {
    font-size: 70px;
    margin-top: 20px;
  }
}

.nav__btn {
  text-align: center;
  margin-top: 48px;
  text-decoration: none;
  font-size: 18px;
  padding: 20px 50px;
  background-color: gold;
  border-radius: 3px;
  color: $font-color__menu-box;
  font-weight: bold;
  min-width: 200px;
  width: 250px;
}

//services
.wrapper {
  display: grid;
  // grid-template-rows: 100px 250px;
  grid-template-columns: repeat(auto-fill, 310px);
  justify-content: center;
  margin-top: 28px;
}

.services {
  text-align: center;
  font-family: $font__menu-box;
  margin-top: 110px;
}

.services__title {
  font-size: 40px;
}

.services__subtitle {
  padding-top: 10px;
}

// .services__box {
//   grid-row: 2/2;
//   grid-column: 1/2;
// }
// .services__subtitle{
// font-size: 16px;
// color: dimgrey;
// margin-top: 18px;
// }
// .services__box-one {
//   grid-row: 2/3;
//   grid-column: 2/3;
// }

// .services__box-two {
//   grid-row: 2/4;
//   grid-column: 3/4;
// }
.services__icons {
  padding: 0 120px;
  padding-top: 50px;
}

.services__header {
  text-align: center;
  padding-top: 14px;
  font-size: 18px;
  font-family: $font__menu-box;
}

.services__txt {
  text-align: center;
  line-height: 22px;
  margin-top: 14px;
  padding: 0 10px;
  color: dimgrey;
}


//portfolio
//footer

@media (max-width: 992px) {
  .nav__menu-name {
    margin-left: 20px;
    left: 4%;
  }

  .nav__menu-box {
    display: none;
  }

  .nav__title {

    h4 {
      font-size: 32px;
    }

    h1 {
      font-size: 60px;
      margin-top: 20px;
    }
  }

  .nav__btn {
    font-size: 16px;

  }

  .nav__box-ham {
    display: block;
    line-height: 20px;
  }

  .nav__menu-ham-box {


    .nav__ham-box-li {
      list-style-type: none;

    }
  }

  .nav__ham-box-a {
    font-size: 18px;

  }

  .nav__box-ham:hover .nav__menu-ham-box {
    display: block;

  }
}

@media(max-width: 576px) {
  .nav__title {
    min-width: 300px;

    h4 {
      font-size: 22px;
    }

    h1 {
      font-size: 50px;
      margin-top: 20px;
    }
  }

  .nav__btn {
    font-size: 14px;
    max-width: 100px;
    padding: 20px 20px;
  }
}